* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;

    color: #333333;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background: rgba(225, 225, 225, 0.5);
  padding: 4em 0;
}

.title {
  font-size: 3.5em;
}

.image {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 3em;
}

#image {
  max-width: 100%;
  height: auto;
}

#tribute-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  padding: 2em 3em;
}

.list {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

li {
    line-height: 1.6;
}

li span {
  font-weight: bold;
}
